@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

h4 {
  font-family: 'Aboreto', cursive;
}

* {
  font-family: 'Lora', serif;
}

.logo {
  /* padding: 1rem; */
  height: 10vh;
  /* position: absolute; */
  cursor: pointer;
}

.slider {
  position: relative;
  height: 50%;
  display: flex;
  justify-content: center;
  padding: 10vh;
}

.sliderImage {
  width: 83vh;
  height: 38vh;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-arrow {
  position: absolute;
  top: 17vh;
  right: 20vh;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  top: 17vh;
  left: 20vh;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.about {
  display: flex;
  justify-content: right;
  padding: 2rem;
  background-color: #ececec;
  border: 2px solid rgb(190, 190, 190);
}

.itineraryImage {
  width: 100%;
  height: 90%;
  border: 2px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.centeredText {
  text-align: center;
}

.benefitsImage{
  width: 100%;
  height: 100%;
  border: 2px solid #000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.column1 {
  text-align: center;
  height: 100px;
}

.column2 {
  text-align: center;
  height: 100px;
}

.column3 {
  text-align: center;
  height: 100px;
}

.columnA {
  height: 25vh;
  text-align: center;
}

.columnB {
  height: 25vh;
  text-align: center;
}

.galleryImage {
  width: 25vh;
  height: 15vh;
  border-radius: 0% !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.galleryInfo {
  color: white;
}

.linkText {
  color: rgb(38, 38, 38) !important;
  margin-top: 2.5rem !important;
  padding: 1.3rem !important;
  font-size: 1vh !important;
  text-decoration: overline !important;
}

.navBar {
  justify-content: right !important; 
  align-items: right !important;
  text-align: right !important;
  text-decoration: overline !important;
}

.galleryFullWrap {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.centeredInfo{
  text-align: center;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.galleryImageText {
  text-align: center;
  font-weight: bold;
  color: grey;
}

.aboutComponent {
  padding: 2vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #e5e5e5;
}

.homeComponentsWrapper {
  padding-top: 5vh;
  padding-bottom: 15vh;
}

.internalComponentsWrapper {
  padding-top: 5vh;
  /* padding-bottom: 8vh; */
}

.componentText {
  padding: 2vh;
  text-align: center;
}